<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<header>
  <a class="action back" href="http://localhost:3000/">回到首頁</a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="action"><a class="nav-link" href="http://localhost:3000/about">About</a></li>
      <li class="action"><a class="nav-link" href="http://localhost:3000/portfolio">Portfolio</a></li>
      <li class="action"><a class="nav-link" href="http://localhost:3000/contact">Contact</a></li>
    </ul>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>