ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.action {
  background: #d0d0d0;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
}

.nav-list {
  position: absolute;
  top: 5%;
  background: #ffffff;
  left: 50%;
}

.back {
  position: absolute;
  top: 5%;
  left: 10%;
}

.action:hover {
  opacity: 1;
  background: #3c3c3c;
  color: white;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.action:hover a {
  color: white;
}

.title {
  position: absolute;
  top: 20%;
  left: 10%;
}
